# Due to the fact that different private files should
# be stored locally but only belong to one branch,
# we can neither track them nor delete them.
# Because of that, they get transferred between branches
# because git doesn't know they exist.

# Temporary solution for this repo: ignore all files
# except for README.md.

*
!.gitignore
!README.md